*{
    box-sizing: border-box;
    margin: 0;
}

body{
    background-color: silver;
    position: relative;
    font-family: sans-serif;
    margin: 0;

}

header{
    display: flex;
    width: 100%;
    background-color: black;
}

a{
    color: white;
    text-align: justify;
    font-family: cursive;
}
img[src="filmimg.jpeg"] {
    max-width: 3%;
    height: auto;
    border-radius: 50px;
    
}

.container{
    width: 1280px;
    margin: auto;
}

.navbar{
    width: 95%;
    margin: auto;
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu{
    display: flex;

}

.nav-logo{
    font-size: 2rem;
}

.nav-logo span{
    color: yellow;
}


@media(max-width:1280px){
    .container{
        width: 100%;
    }
}

.search{
    background-color: silver;
    border: 2px solid;
    border-radius: 80px;
    font-size: 1rem;
    padding: .5rem;
    color: black;
    width: 15rem;
}

.search::placeholder{
    color: black;
}

.search:focus{
    outline: none;
}

main{
    display: flex;
    flex-wrap: wrap;
}
h2 {
    display: inline-block;
    justify-content: space-between;
    padding: 80px;
    
}

.movie{
    width: 300px;
    margin: 1rem;
    background-color: yellow;
    box-shadow:0 4px 5px black;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.movie img[src="img.jpeg"]{
    width: 400px;
    margin: 0;
    background-color: silver;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
}

.movie-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 1px;
}

.movie-info span{
    background-color: silver;
    padding: 0.25rem 0.5rem;    
    border-radius: 3px;
    font-weight: bold;
}

.overview{
    background-color: black;
    color: white;
    padding: 2rem;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    transform: translateY(100%);
    transition: transform 0.3s ease;
}

.movie:hover .overview{
    transform: translateY(0);
}